<h1>index</h1>
<p>This is the main view</p>
<p> <%= @res %> </p>

<p><%= link_to "Crear usuario", '/tables' , :class => "link" %> </p>

<p><%= link_to "Iniciar sesion", '/data', :class=>"link" %> </p>
